.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.main-layout {
  min-height: 100vh;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-height: 100%; /* que no sobrepase la altura */
  max-width: 100%; /* que no se deforme */
  object-fit: contain; /* mantiene proporción */
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

:host ::ng-deep .ant-layout-sider,
:host ::ng-deep .ant-menu-inline {
  border-right: 0 !important;
  box-shadow: none !important;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

::ng-deep .custom-drawer .ant-drawer-header {
  background-color: #0b1a2b; /* azul */
  color: #fff; /* texto blanco */
}

::ng-deep .custom-drawer .ant-drawer-title {
  color: #fff;
}

::ng-deep .custom-drawer .ant-drawer-close {
  color: #fff; /* fuerza la X a blanco */
}
